* {
  padding: 0;
  margin: 0;
}

body{
  padding: 55px;
  display: flex;
}

.container {
  background-color: antiquewhite;
  height: 450px;
  width: 275px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
}

.image {
  background-image: url("image.jpg");
  height: 190px;
  background-size: cover;
  margin: 10px;
  border-radius: 10px;
}

.circle {
  border: 1px solid black;
  border-radius: 10px;
  padding: 4px;
  margin-left: 15px;
}

h1 {
  margin: 17px 15px 17px 15px;
}

p {
  margin: 0px 15px;
}

.link{
  text-align: center;
}
 button {
  background-color: rgb(219, 219, 247);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  color: rgb(7, 7, 239);
  border: none;
  cursor: pointer;
}

.link button:hover{
  background-color: rgb(9, 144, 255);
  color: rgb(255, 255, 255);
}

